/* Inicio CSS Alumno */
.alumnos
{
background-color:cadetblue;
padding: 5px;
width: 250px;
border-radius: 5px;
border: solid 1px rgb(0, 0, 0, 0.5);
}

.alumnos ol
{
    font-size: 20px;
}

.alumnos h3
{
    color: white;
    text-align: center;
}

.rojo
{
    color:red;
}

.verde
{
    color: green;
}

.azul
{
    color: blue;
}
/* Fin CSS Alumnos */



/* Inicio CSS Calculadora */
.caja
{
    position: relative;
    left: 280px;
    top: -335px;
    border: solid 1px rgb(0, 0, 0, 0.5);
    width: 430px;
    height: 315px;
    border-radius: 5px;
    padding: 10px;
    background-color:cadetblue;  
}

.caja label
{
    font-size: 15px;
}

.caja input
{
    font-size: 10px;
    width: 40px;
}

#calculadora
{
padding: 5px;
background-color:whitesmoke;
width: 300px;
position: relative;
top: 10px;
margin: auto;
height: 200px;
}

#calculadora p
{
    position: relative;
    left: 120px;
}
/* Fin CSS Calculadora */
